zf-navigation

div.container
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading.clearfix
                    .pull-left
                .panel-body
                    table.table.table-striped.table-responsive
                        thead
                            tr
                                td 名称
                                td 价格
                                td 数量
                                td.text-center 操作
                        tbody
                            tr(ng-repeat='cart in carts track by $index')
                                td {{cart.ware.name}}
                                td
                                    span {{cart.ware.price|currency}}
                                td
                                    a.btn.btn-success.btn-xs(ng-click="cart.quantity = cart.quantity+1") +
                                    input(type='text', ng-model='cart.quantity')
                                    a.btn.btn-warning.btn-xs(ng-click='cart.quantity= cart.quantity-1') -
                                td.text-center
                                    button.btn.btn-danger(ng-click="delete(cart)") 删除
                .panel-footer.text-center
                    span 总计: {{total()}}

                    input.form-control(type='button', ng-click='settle()', value='结算')
