zf-navigation

div.container
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading.clearfix
                    .pull-left
                        button.btn.btn-success(add-category) 增加
                        button.btn.btn-danger(batch-delete-categories) 批量删除
                    .pull-right
                        input(type='text', placeholder='请输入关键字', name='keyword', ng-model='keyword')
                .panel-body
                    table.table.table-striped.table-responsive
                        thead
                            tr
                                td.text-center
                                    input#selectAllCategories(type='checkbox', select-all-categories)
                                td 名称
                                td.text-center 操作
                        tbody
                            tr(ng-repeat="category in category.categories")
                                td.text-center
                                    input(type='checkbox', data-id='{{ware._id}}', name='chkItem', select-ware-item)
                                td {{category.name}}
                                td.text-center
                                    button.btn.btn-primary(data-index='{{$index}}', edit-category) 编辑
                                    button.btn.btn-success(data-index='{{$index}}', view-category) 查看
                                    button.btn.btn-danger(data-index='{{$index}}', delete-category) 删除
        #addDialog.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') ×
                        h4(modal-title='增加分类') 增加分类
                    .modal-body
                        form.form-horizontal(role='form')
                            input.form-control(type='hidden', ng-model='category._id', placeholder='ID')
                            .form-group
                                label.col-sm-2.control-label(for='name') 名称
                                .col-sm-10
                                    input#name.form-control(type='text', ng-model='category.name', placeholder='名称')
                    .modal-footer
                        button.btn.btn-success(ng-click='save()', data-dismiss='modal') 确定
                        button.btn.btn-default(data-dismiss='modal') 取消
        #viewDialog.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') ×
                        h4(modal-title) 查看分类
                    .modal-body
                        .thubmnail
                            |{{ware.name}}
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') 取消
        #deleteDialog.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') ×
                        h4(modal-title='') 确认删除
                    .modal-body
                        | 请问你是否确认要删除{{category.name}}?
                    .modal-footer
                        button.btn.btn-danger(ng-click='delete()', data-dismiss='modal') 确定
                        button.btn.btn-default(data-dismiss='modal') 取消
